body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 150px;
}

a{
    text-decoration: none;
    background-image: linear-gradient(yellow, lime);
    padding: 15px 40px;
    border-radius: 20px;
}

/*FOR EXTRA MARKS*/
ul{
    display: flex;

}

ul li{
    margin: 50px;
}



/*order food section*/
#order-food{
    display: flex;
    padding-left: 10%;
}

.order-food-text{
    padding-top: 150px;
    text-align: justify;
}

#order-food h1{
    font-size: 50px;
}

#order-food span{
    color: orange;
}

#order-food p{
    margin-bottom: 70px;
}


.half-width-od{
    width: 50%;
}

.half-width-od img{
    width: 80%;
}

#order-food{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}



/*Contact me section*/
#contact-me{
    display: flex;
    padding-left: 10%;
}

.contact-me-text{
    text-align: justify;
}

#contact-me h2{
    font-size: 50px;
}


#contact-me p{
    margin-bottom: 70px;
}

.half-width-cm{
    width: 50%;
}

.half-width-cm img{
    width: 45%;
}

.contact-me-text{
    padding-top: 100px;
    text-align: justify;
}

#contact-me{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}


/*My Recepie section*/
.recipies-text{
    text-align: center;
    
}

.box{
    display: flex;
}

.box div{
    width: 60%;
    padding: 2%;
    margin: 2%;
    box-shadow: 20px 20px 80px gray;
    border-radius: 20px;
    text-align: justify;
}

.box div img{
    width: 90%;
}

/*LIKES*/

.likes{
    display: flex;
    box-shadow: 20px 20px 80px gray;
    margin: 0 5% 6% 5%;
    border-radius: 15px;
    padding: 3% 0 3% 0;
}

.likes div{
    width: 30%;
    text-align: center;

}

/*Footer*/
footer{
    background-color: black;
    text-align: center;
    margin: none;
    padding: 20px 0px 20px 0px;
}

footer span{
    color: orange;
}

footer h2{
    color: grey;
}

footer p{
    color: white;
}